.navbar {
  top: 0;
  left: 15%;
  width: 70%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  border-radius: 10px;
}

.navbutton {
  background-color: black;
  font-size: 12px;
}

.cartBtn {
  background-color: #fff;
  color: black;
}

.productCard {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 25px;
}
